body{
    background-color: #ffffff;
}
@media (min-width: 768px){
    .container {
        width: 738px;
    }
}
@media (min-width: 992px){
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
p {
    margin: 0px 0 8px;
}
a{
    text-decoration:none !important;
}
.body1{
    background:url(../image/back.png) no-repeat;
    background-size:cover;
    min-height: 768px;
}
.star{
    font-size: 12px;
    line-height: 14px;
    color: #FE553F;
    margin-left: 15px;
}
.star2{
    font-size: 12px;
    line-height: 14px;
    color: #FE553F;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default {
    background-color: #ffffff;
    border: none;
}
.navbar-brand {
    height: 50px;
    padding: 0px; 
}
.navbar-toggle {
    margin-top: 6px;
}
@media (max-width: 767px){
    .hidden1{
        display: none;
    }
}
@media (min-width: 768px){
   .navbar-brand {
        display: none;
    }
}
.changepadding{
    padding-right: 10px;
    padding-left: 0px;
}
@media (max-width: 768px){
   .changepadding{
        padding-right: 10px;
        padding-left: 10px;
    }
}
.hr1{
    border-bottom: 3px solid #4f8ce4;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hr2{
    margin-top:10px;
    margin-bottom: 10px;
}
@media (max-width: 1400px){
   .formstyle{
         margin-top:4%;
    }
}
.bannerimg{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom:5px;
}
.padding1{
    padding-right: 0px;
    padding-left: 0px;
}
.padding2{
    padding-top:28px;
    padding-bottom: 40px;
}
.padding3{
    padding-top:14px;
}
.padding4{
    padding-top:5px;
}
.padding5{
    padding-right: 5px;
    padding-left: 5px;
}
.margin1{
    margin-bottom:0px;
}
.margin2{
    margin-right: -15px;
    margin-left: -15px;
}
.margin3{
    margin-top:50px;
}
.margin4{
    margin-bottom:0px;
    margin-top: 0px;
}
.margin5{
    margin-top:15px;
    margin-bottom:15px;
}
.margin6{
    margin-bottom:5px;
}
.bgcolor1{
    background: #f6f8fb;
}
.bgcolor2{
    background: #FE553F;
}
.color1{
    color: #ffffff;
}
.color2{
    color: #333;
}
.color3{
    color: #FE553F;
}
.color4 {
    color: #4f8ce4;
}
.font1{
    font-size: 12px;
}
.font2{
    color: #FE553F;
    font-size: 34px;
    margin-right:5px;
}
.font3{
    color: #FE553F;
    font-size: 24px;
    margin-right:5px;
}
.font4{
    color: #FE553F;
    font-size: 20px !important;
}
.font5{
    color: #ffffff;
    font-size: 24px;
    line-height: 60px;
}
.zhoubian{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}
.topbutton{
    background-color: #f2f2f2;
    overflow: hidden;
    margin-bottom: 4px;
    margin-top: 183px;
}
@media (max-width: 1200px){
   .topbutton{
        background-color: #f2f2f2;
        overflow: hidden;
        margin-bottom: 4px;
        margin-top: 103px;
    }
}
.topimg{
    border-right: 1px solid #dddddd;
    padding-top:10px;
    padding-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #4f8ce4;
    border-color: #3f70b6;
    border-radius: 1px;
    cursor: pointer;
    padding:8px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #a94442;
    border-color: transparent;
}
.mainintroduce .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-radius: 1px;
    cursor: pointer;
    padding:5px 15px;
    margin-top: 10px;
    font-size:24px; 
}
.message form .btn-primary {
    color: #fff;
    font-size: 12px; 
    background-color: #4f8ce4;
    border-color: #3f70b6;
    border-radius: 1px;
    cursor: pointer;
    box-shadow: 0px -1px 3px #3f70b6 inset;
    padding:5px 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.btn-info {
    color: #fff;
    background-color: #ff7d00;
    border-color: #ff7d00;
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #cf6500;
    border-color: #cf6500;
}
.btn-info:hover {
    color: #fff;
    background-color: #cf6500;
    border-color: #cf6500;
}
.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #cf6500;
    border-color: #cf6500;
}
.youhui{
    position: absolute;
    left: 0px;
    z-index: 999;
    padding-top:14px;
}
@media (max-width: 1500px){
   .youhui{
        display: none;
    }
}
.mainpart1{
    border-bottom: 2px solid #f4f4f4;
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
}
.mainpart2{
    background-color: #f6f8fb;
    padding: 10px 12px;
}
.mainpart2images{
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}
.mainpart2img{
    width: 92px;
    height: 60px;
    padding-right: 10px;
    margin-bottom:2px;
    cursor:pointer;
}
.mainpart3{
    background-color: #ffffff;
    padding: 10px 12px;
    margin-top: 10px;
    min-height: 80px;
    padding-top: 15px;
}
.mainpart3img{
    width: 100px;
    height: 25px;
    margin-right: 35px;
    margin-left: 25px;
    margin-top: 10px;
}
.mainpart4{
    border-bottom: 1px solid #4f8ce4;
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 8px;
    margin-bottom:30px;
}
.description{
    border-bottom: 1px solid #e8ecf1;
}
.phonestyle1{
    text-align: right;
}
.changemessages {
    border: solid 1px #dddddd;
    border-bottom: solid 2px #4f8ce4;
    font-size: 20px;
    line-height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 15px;
}
.changemessages a {
    color: #4f8ce4;
}
.changemessages .active{
    background-color: #4f8ce4;
}
.changemessages .active a{
    color: #ffffff;
}
.changemessage {
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px solid #4f8ce4;
    cursor: pointer;
    color: #8ccbb8;
}
@media (max-width: 992px){
   .phonestyle1{
        text-align: center;
    }
}
.a1{
    color: #4f8ce4;
    padding: 0 21px;
    height: 40px;
    font-size: 16px;
    display: inline-block;
    line-height: 40px;
    text-decoration:none;
    border-bottom: 2px solid #4f8ce4;
}
.a2{
    color: #333;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    position: absolute;
    left: 20px;
    padding: 0px 5px;
    margin-top: -12px;
}
.a3 {
    color: #4f8ce4;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    padding: 3px 8px;
    margin-top: -12px;
}
.message h4{
    font-size: 20px;
    line-height: 38px;
}
.message h6{
    line-height: 38px;
}
.message span{
    font-size: 12px;
    margin-right: 28px;
    white-space: nowrap;
}
.message .room{
    margin-right: 60px;
}
.input-group-addon {
    padding: 5px 0px 5px 12px;
}
.timestyle{
    width: 109px !important;
    font-size: 12px;
}
.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F4F4F4;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.form-inline{
    /*margin-top: 5px;*/
}
.input-group-addon, .input-group-btn {
    width: auto;
    white-space: nowrap;
    vertical-align: middle;
}
.form-inline .input-group {
    margin-top: 5px;
    display: inline-table !important;
    vertical-align: middle;
}
.roommessage{
    padding:7px 0px; 
    border-bottom: 1px solid #e8ecf1;
}
.moreprice{
    font-size: 12px;
    color: #78899c;
    text-decoration: underline;
    cursor:pointer;
    margin-bottom:0px;
}
.hiddenpart{
    display: none;
}
.bigimage{
    width: 300px;
    height: 199px;
    position: absolute;
    z-index: 999;
    margin-top: -220px;
    padding-right: 10px;
    margin-bottom: 2px;
}
.footer{
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer a{
    color: #a8b0b9;
    padding-left:12px;
    padding-right:12px;
    font-size:12px;

}
.footer p{
    color: #a8b0b9;
    padding:12px;
    font-size:12px;
     
}
pre{  
    white-space:pre-wrap;  
    white-space:-moz-pre-wrap;  
    white-space:-pre-wrap;  
    white-space:-o-pre-wrap;  
    word-wrap:break-word;
    background-color: transparent;
    border: transparent;  
    }  
/* zoombox */
.zoombox{width:100%;margin:20px auto 0 auto;}
.zoompic{border:solid 1px #dfdfdf;width:100%;;background:url(../images/loading.gif) no-repeat 50% 50%;}

.sliderbox{height:76px;overflow:hidden;margin:6px 0 0 0;}
.sliderbox .arrow-btn{width:38px;height:76px;background:url(../images/arrow-btn.png) no-repeat;cursor:pointer;}
.sliderbox #btn-left{float:left;background-position:0 0;}
.sliderbox #btn-left.dasabled{background-position:0 -76px;}
.sliderbox #btn-right{float:right;background-position:-38px 0;}
.sliderbox #btn-right.dasabled{background-position:-38px -76px;}
.sliderbox .slider{float:left;height:76px;width:100%;position:relative;overflow:hidden;margin:0 0 0 3px;display:inline;}
.sliderbox .slider ul{position:absolute;left:0;width:100% !important;}
.sliderbox .slider li{float:left;width:20%;height:76px;text-align:center;}
.sliderbox .slider li img{border:solid 1px #dfdfdf;}
.sliderbox .slider li.current img{border:solid 1px #3366cc;}
